body {
    padding: 0;
    margin: 0;
    margin: 0 auto;
    width: 100%
}

#div_ContentAll {
    width: 1200px;
    margin: 0 auto
}

.buttons {
    display: grid;
    padding-left: 128px;
    grid-template-columns: 138px 161px 230px;
    grid-template-rows: 50px
}

.buttons > div:hover {
    background-color: #15a98c
}

.buttons > div:hover > img {
    filter: brightness(400%)
}

.button_1 {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    border: 0
}

.button_2 {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    border: 0
}

.buttonHeader {
    font-family: Georgia;
    font-size: 19px;
    line-height: 32px;
    padding: 0
}

.buttonHeader:hover {
    color: white
}

.buttonHeader1 {
    float: left;
    height: 50px;
    width: 138px;
    display: flex;
    align-items: center
}

.buttonHeader2 {
    float: left;
    height: 50px;
    width: 161px;
    display: flex;
    align-items: center
}

.buttonHeader3 {
    float: left;
    height: 50px;
    width: 230px;
    display: flex;
    align-items: center
}

.button_all:hover {
    margin-top: 54px;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    margin-left: 488px;
    background-color: #098d71
}

.water {
    background-image: url(../images/background.png);
    max-width: 100%;
    height: 400px;
    filter: brightness(50%)
}

.conteiner_1 {
    display: grid;
    position: relative;
    grid-template-columns: 330px 570px;
    padding-left: 128px;
    margin-top: -190px;
    grid-row-gap: 7px;
    grid-column-gap: 59px
}

.photo_plus_quote {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 330px 510px;
    grid-template-rows: 111px 123px 74px auto;
    grid-column-gap: 60.5px;
    padding: 0;
    height: 350px
}

.photo_object {
    grid-column: 1/2;
    grid-row: 1/4;
    border-radius: 5px
}

.quoted_text {
    grid-column: 2;
    grid-row: 1;
    filter: brightness(92%);
    padding-top: 25px;
    padding-left: 3px;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Georgia";
    font-style: italic
}

.greg {
    grid-column: 2;
    grid-row: 2;
    padding-left: 6px;
    filter: brightness(92%);
    font: 600 16px/2.7 "Open Sans";
    color: #fff
}

.my_name {
    grid-column: 2;
    grid-row: 3;
    font: 700 48px/0.89 "Open Sans";
    padding-left: 4px;
    padding-top: 1px
}

.blue_block {
    grid-column: 2;
    grid-row: 4;
    display: block;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa
}


.hobbies {
    grid-column: 1/2;
    width: 100%;
    padding: 0;
    padding-top: 37px
}

.blue_subtitle1 {
    border: 1px none red;
    padding: 0;
    margin: 0;
    padding-left: 0.5px;
    font-size: 24px;
    color: #15a98c;
    font-family: "Open Sans";
    font-weight: 600
}

.dotted_list11 {
    font-family: "Georgia";
    color: #555555;
    font-size: 19px;
    line-height: 36px;
    letter-spacing: 0px;
    padding: 0;
    margin: 0;
    padding-top: 12.5px;
    padding-left: 21px
}

.dotted_list12 {
    border: 1px none green;
    font-family: "Georgia";
    color: #555555;
    font-size: 19px;
    line-height: 36px;
    letter-spacing: 0px;
    padding: 0;
    margin: 0;
    padding-top: 13px;
    padding-left: 5px
}

.hobbies2 {
    padding: 0;
    padding-top: 40px;
    padding-left: 0.5px;
    grid-column: 1/2;
    width: 100%
}

.blue_subtitle2 {
    font-size: 24px;
    color: #15a98c;
    font-family: "Open Sans";
    font-weight: 600
}

.normallist11 {
    font-family: "Georgia";
    color: #555555;
    font-size: 19px;
    line-height: 36px;
    letter-spacing: 0px;
    padding: 0;
    margin: 0;
    padding-top: 11.5px;
    padding-left: 20.5px
}

.normallist12 {
    font-family: "Georgia";
    color: #555555;
    font-size: 19px;
    line-height: 36px;
    letter-spacing: 0px;
    padding: 0;
    margin: 0;
    padding-top: 12px
}

.main_text {
    border: 1px none green;
    display: grid;
    grid-column: 2/3;
    padding-top: 1px;
    grid-template-rows: 234px 53px 205px auto
}

.biography1 {
    border: 1px none pink;
    width: 507px;
    grid-row: 1;
    font-size: 19px;
    line-height: 32px;
    padding: 0;
    padding-left: 1.5px;
    color: #555555;
    font-family: "Georgia"
}

.my_hobbie {
    border: 1px none green;
    margin: 0;
    margin-left: -0.7px;
    font: 400 36px/1.19 "Open Sans";
    color: #333333
}

.text_about_my_hobbie {
    border: 1px none green;
    padding: 0;
    padding-top: 4px;
    padding-left: 1.5px;
    width: 558px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: "Georgia"
}

.link {
    width: 115px;
    height: 25px;
    white-space: nowrap;
    padding-left: 1.5px;
    border-bottom: 1.5px solid #7bcebd
}

.link:hover {
    border: 0
}

.link1 {
    font: 19px/1.68 Georgia;
    color: #25af93;
    text-decoration: none
}

.block_with_films {
    background: white;
    padding-top: 97px;
    padding-left: 8px
}

.now_about_films {
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 400
}

.conteiner_2 {
    border: 1px none red;
    margin-top: 33px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 285px)
}

.one_movie {
    border: 1px none red;
    display: grid;
    grid-row-gap: 8px;
    grid-template-rows: 190px 40px 520px
}

.films {
    width: 285px;
    height: 190px;
    border-radius: 5px;
    background-color: #464646
}

.MovieCaption {
    color: #333333;
    line-height: normal;
    font: 700 22px/32px Open Sans
}

.EscapeCaption {
    margin-left: -1.5px;
    margin-top: 15px
}

.AnestCaption {
    margin-left: -1.5px;
    margin-top: 15px
}

.AstralCaption {
    margin-top: 15px;
    padding-left: 0.5px;
}

.GravityCaption {
    margin-top: 15px;
    margin-left: -2px;
    color: #333333;
    line-height: normal;
    font: 700 22px/32px Open Sans
}

.text_under_films {
    padding: 0 0 0 0.5px;
    color: #555555;
    font: 16px/28px Georgia
}

.button_all {
    width: 220px;
    border-radius: 5px;
    background-color: #15a98c;
    margin-top: 54px;
    text-align: center;
    margin-left: 488px;
    height: 50px
}

.text_for_button_all {
    filter: brightness(92%);
    font-size: 19px;
    line-height: 49px;
    color: #f5f5f5;
    font-family: "Georgia"
}

footer {
    margin-top: 51px;
    padding-top: 0.1px;
    padding-right: 5px;
    font: 16px/2 Georgia;
    background: #f5f5f5;
    color: #555555;
    text-align: center;
    height: 70px
}

.forma {
    margin: 106px auto 0 auto;
    width: 750px
}

.write_me {
    padding-left: 255px;
    font: 300 36px/42px "Open Sans"
}


.write_me:before {
    content: '';
    position: absolute;
    width: 200px;
    border-top: 1px solid #4e4e4e;
    margin-left: -230px;
    margin-top: 20px
}

.write_me:after {
    content: '';
    position: absolute;
    width: 200px;
    border-top: 1px solid #4e4e4e;
    margin-left: 25px;
    margin-top: 20px
}

.forma_about_you {
    max-width: 550px;
    padding-top: 37px;
    padding-left: 112px
}

.label {
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 400
}

.star {
    color: red
}

.one_field {
    width: 532px;
    height: 44px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    font: 400 18px/32px "Open Sans";
    margin-left: 1px;
    margin-top: 3px;
    margin-bottom: 24px
}

.one_field:focus {
    border-radius: 3px;
    border: 2px solid #15a98c;
    outline: none
}

.select_box {
    width: 540px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #a6a6a6;
    margin-left: 1px;
    margin-top: 5px;
    -webkit-appearance: none;
    background: url(../images/arrow_down.png) no-repeat;
    background-position: 498px 18px;
    font: 400 18px/32px "Open Sans";
    color: #555555;
    padding-left: 16.3px;
    padding-bottom: 1px;
    margin-bottom: 41px
}

.select_box:focus {
    border-radius: 3px;
    border: 2px solid #15a98c;
    outline: none
}

.select_gender {
    margin-top: 4px;
    margin-left: -3px;
    margin-bottom: 36px
}

.gender {
    font-size: 18px;
    line-height: 32px;
    color: #333333;
    font-family: "Open Sans";
    font-weight: 400;
    margin-right: 30px;
    padding-left: 1px;
    cursor: pointer
}

.message {
    width: 502px;
    height: 142px;
    margin-left: 1px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    resize: none;
    margin-top: 3px;
    font: 400 18px/32px "Open Sans";
    color: #555555;
    padding-left: 17px;
    padding-right: 17px
}

.message:focus {
    border-radius: 3px;
    border: 2px solid #15a98c;
    outline: none
}

.send {
    font: 19px/32px "Georgia";
    color: #f5f5f5;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98c;
    margin-top: 46px;
    margin-left: 1px;
    padding-left: 6px;
    border: none
}

.send:hover {
    background-color: #008B8B;
    cursor: pointer
}
